/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(255, 90%, 60%)
      Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
      Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> Click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */
  --hue: 262;
  --first-color: hsl(var(--hue), 52%, 81%);
  --first-color-alt: hsl(var(--hue), 52%, 59%);
  --first-color-light: hsl(var(--hue), 52%, 82%);
  --title-color: hsl(var(--hue), 24%, 16%);
  --text-color: hsl(var(--hue), 8%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 60%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 90%, 30%, .1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



#email:hover {
  text-decoration: underline;
}
#myEmail:hover {
  text-decoration: underline;
}
/*=============== THEME ===============*/
.nav__actions{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme{
  color: var(--white-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color .4s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: hsl(var(--hue), 24%, 85%);
  --text-color: hsl(var(--hue), 8%, 70%);
  --body-color: hsl(var(--hue), 16%, 8%);
  --container-color: hsl(var(--hue), 16%, 12%);
  --shadow-color: hsla(var(--hue), 32%, 4%, .4);

}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .bg-header{
  box-shadow: 0 12px 24px var(--shadow-color);
}

/* .dark-theme{
  background-color: hsla(var(--hue), 90%, 8%, .2);
} */

.dark-theme::-webkit-scrollbar{
  background-color: hsl(var(--hue), 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--hue), 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 16%, 35%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
} 

.perfil{
  width: 250px;
  height: 250px;
  background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items:center;
  transition: background-color .4s;
}
.perfil__empty{
  /* width: 450px; */
  height: 450px;
  /* background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%; */
  display: grid;
  place-items:center;
  transition: background-color .4s;
}

.perfil__content{
  width: 180px;
  height: 180px;
  border: 10px solid var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg,var(--first-color),hsl(var(--hue),52%, 40%));
}

.perfil__img{
  width: 150px;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color .4s,box-shadow .4s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color:var(--white-color);
  font-weight: var(--font-semi-bold);
  transition:color .4s;
}

.nav__toggle,
.nav__close{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__toggle{
  color:var(--white-color);
  transition:color .4s;
}

.nav__close{
  color:var(--title-color);
}


/* Navigation for mobile devices */
@media screen and (max-width:1150px) {
  .nav__menu{
    position: fixed;
    top:-100%;
    left:0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 12px 24px var(--shadow-color);
    padding-block:5rem 4rem;
    transition: top .4s;
  }


}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link{
  color:var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position:absolute;
  top: 1.15rem;
  right: 1.5rem;
}
/* Show menu */
.show-menu{
  top: 0;

}

/* Change background header */
.bg-header{
  background-color: var(--body-color);
  box-shadow: 0 2px 16px var(--shadow-color);
}


.bg-header :is(.nav__logo,.nav__toggle, .change-theme){
  color: var(--title-color);
}
/* Header background color of other pages */
.header-pages{
  background-color: var(--body-color);

}

.header-pages :is(.nav__logo,.nav__toggle, .change-theme){
  color: var(--title-color);
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: white;
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: background-color .4s, box-shadow .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(var(--hue), 90%, 30%, .3);
}
/*=============== HOME ===============*/
.home{
  position: relative;
  border-bottom: 8px solid var(--first-color);
}

.home__rectangle{
  width: 100%;
  height: 220px;
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home__container{
  padding-block: 1rem 3rem;
}

.home__perfil{
  justify-self: center;
}

.home__content{
  row-gap: 3rem;
}

.home__data{
  row-gap: .75rem;
  text-align: center;
}

.home__name{
  font-size: var(--biggest-font-size);
}

.home__profession{
  font-size: var(--h2-font-size);
}

.home__social{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.home__social-link{
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color .4s;
}

.home__social-link:hover{
  color: var(--first-color);
}

.home__button{
  justify-self: center;
}

.ling__img {
  position: relative;
  transform: scale(1.7);
  transform-origin: center;
  top: 1rem;
}

.skill__container{
  display: flex;
  padding: 3px;
}

.skill__box{
  color: var(--first-color-alt);
  background-color: var(--first-color-light);
  font-size: var(--smaller-font-size);
  margin: 6px;
  margin-left: 0;
  padding: 5px;
  border-radius: 15%;
  transition: transform .4s;
}


.skill__box:hover{
  transform: translateY(-3px);
}
/*=============== ABOUT ===============*/
.about__page{
  padding-bottom: 4rem;

}

.about__perfil{
  justify-self: center;
}

.about__content{
  row-gap: 4rem;
}

.about__data{
  row-gap: 2rem;
}

.about__info{
  row-gap: .75rem;
  text-align: center;
}

.about__name{
  font-size: var(--h1-font-size);
}

.about__profession{
  font-size: var(--h2-font-size);
}

.about__description b{
  color: var(--first-color);
}

.about__button{
  justify-self: center;
}

.about__skills-title{
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.about__skills-img{
  width: 35px;
  transition: transform .4s;
}

.about__skills-img:hover{
  transform: translateY(-.5rem);
}

.about__skills-content{
  grid-template-columns: repeat(5,max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem 1.5rem;
}

/*=============== SERVICES ===============*/


/* Active modal */


/*=============== WORK ===============*/
.work__container{
  row-gap: 2rem;

}

.work__link{
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.work__img{
  /* filter: grayscale(1); */
  transition: filter .5s, transform .5s;
}

.work__icon{
  position: absolute;
  top:1.25rem;
  right: 1.25rem;
  font-size: 2rem;
  color: var(--first-color);
  transition: transform .4s;

}

.work__link:hover .work__img{
  transform: scale(1.1);
  filter: none;
}

.work__link:hover .work__screenshots{
  transform: scale(1.1);
  filter: none;
}

.work__link:hover .work__icon{
  transform: translate(.5rem,-.5rem) rotate(-30deg);
}

.work__title{
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.work__page{
  padding-bottom: 4rem;
}
/*=============== work ===============*/
.work__perfil{
  /* width: 250px;
  height: 250px; */
  /* border: 6px solid var(--first-color); */
  
  /* background-color: var(--body-color); */
  /* border: 5px solid var(--first-color); */
  /* border-radius: 50%; */
  
  box-shadow: 0px 15px 40px var(--first-color-light);
  display: grid;
  place-items:center;
  box-shadow: 5px;border-radius: 2.5%;
  /* transition: background-color .4s; */
}

.graffiti__perfil__content{
  width: 350px;
  height:196.875px;
border-radius: 2.5%;
color: transparent;
  /* border-radius: 5%; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
}


.zombie__perfil__content{
  width: 350px;
  height: 350px;
  /* border: 10px solid var(--first-color); */
  /* border-radius: 50%; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
}

.gruffalo__perfil__content{
  width: 350px;
  height: 175px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/* Swiper class */
.work__swiper{
    width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
  /* padding-bottom: 3rem ;  */
  /* overflow: visible !important; */
  /* transition: background-color .4s; */
}

.work__swiper__zombie{
  width: 350px;
/* height: auto; */
aspect-ratio: 350 / 350;
box-shadow: 0px 15px 40px var(--first-color-light);
/* display: grid; */
place-items:center;
box-shadow: 5px;
border-radius: 2.5%;
/* padding-bottom: 3rem ;  */
/* overflow: visible !important; */
/* transition: background-color .4s; */
}


.work__swiper__gruffalo{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 175;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__audio{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__ct{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__letter{
  width: 450px;
  /* height: auto; */
  aspect-ratio: 2133 / 1200;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost1{
  width: 200px;
  /* height: auto; */
  aspect-ratio: 390 / 844;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost2{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 602 / 293;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__content{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work__swiper__container{
  /* width: 500px; */
  place-items:center;
  /* display: grid; */
  overflow: visible !important;
  /* padding-bottom: 10px ;   */
  /* margin-bottom: 3rem; */
}

/* 
.swiper{
  padding-bottom: 0.5rem  !important; 

} */

.swiper-pagination{
    /* width: 2rem; */
    /* height: 2rem; */
    position: absolute !important;
    /* bottom: -2rem  !important; */
}
.swiper-pagination-bullets .swiper-pagination-horizontal{
  position: absolute !important;
  /* padding-top: -2rem  !important; */
}

.swiper-pagination-bullet{
  /* bottom: -3rem !important; */
  background-color: var(--first-color-light) !important;
  opacity: 1 !important;

}

.swiper-pagination-bullet-active{
  background-color: var(--first-color) !important;
  z-index: 100 !important;
}
/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/
.footer{
  background-color: var(--first-color);
}

.footer__container{
  padding-block: 4rem 2rem;
  text-align: center;
  row-gap: 5rem;
}

.footer__content{
  row-gap: 2rem;
}

.footer__content a,.footer__copy{
  color:var(--white-color)
}

.footer__logo{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  justify-self: center;
}

.footer__links,.footer__social{
  display: flex;
  justify-content: center;
}

.footer__links{
  font-weight: wrap;
  gap:2rem;
}

.footer__link{
  font-weight: var(--font-semi-bold);
}

.footer__logo:hover,.footer__link:hover{
  text-decoration: underline;
}

.footer__social{
  column-gap: 1rem;
}

.footer__social-link{
  font-size: 1.5rem;
  transition: tranform .4s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__copy{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(var(--hue), 20%, 85%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--hue), 20%, 65%);
}

::-webkit-scrollbar-thumb:hover{
  width: .6rem;
  background-color: hsl(var(--hue), 20%, 55%);
}
/*=============== SCROLL UP ===============*/

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  border-radius: 3px;
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color:var(--first-color);
  z-index: var(--z-tooltip);
  transition:bottom .4s,transform .4s,backgroud-color .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}
/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:320px){
  .container{
    margin-inline: 1rem;
  }
  .header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav__menu{
    padding-block: 2rem 2rem;
  }
  .service__modal{
    padding-inline:.5rem;

  }
  .about__skills-content{
    grid-template-columns: repeat(4,max-content);
  }

  .home__content{
    text-align: center;
  }
  .work__swiper{
    width: 200px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
  /* padding-bottom: 3rem ;  */
  /* overflow: visible !important; */
  /* transition: background-color .4s; */
}
  .work__swiper__zombie{
    width: 200px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
  }
  
  .work__swiper__gruffalo{
    width: 200px;
    /* height: auto; */
    aspect-ratio: 350 / 175;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }

  .work__swiper__audio{
    width: 200px;
    /* height: auto; */
    aspect-ratio: 350 / 350;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }

  .work__swiper__ct{
    width: 200px;
    /* height: auto; */
    aspect-ratio: 4 / 3;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }
  .work__swiper__letter{
    width: 300px;
    /* height: auto; */
    aspect-ratio: 2133 / 1200;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }
  .work__swiper__lost1{
    width: 200px;
    /* height: auto; */
    aspect-ratio: 390 / 844;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }

  .work__swiper__lost2{
    width: 200px;
    /* height: auto; */
    aspect-ratio: 602 / 293;
    box-shadow: 0px 15px 40px var(--first-color-light);
    /* display: grid; */
    place-items:center;
    box-shadow: 5px;
    border-radius: 2.5%;
  }
  .graffiti__perfil__content{
    width: 350px;
    height:196.875px;
  
    /* border-radius: 5%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .zombie__perfil__content{
    width:350px;
    height: 350px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .gruffalo__perfil__content{
    width: 350px;
    height: 175px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .ling__img {
    position: relative;
    transform: scale(1.7);
    transform-origin: center;
    top: 1rem;
}
.perfil__empty{
  /* width: 150px; */
  height: 200px;
  /* background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%; */
  display: grid;
  place-items:center;
  text-align: center;
}
}

@media screen and (max-width:576px){
  .nav__menu{
    padding-block: 2rem 2rem;
  }
  .header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .perfil__empty{
    /* width: 150px; */
    height: 200px;
    /* background-color: var(--body-color);
    border: 8px solid var(--first-color);
    border-radius: 50%; */
    display: grid;
    place-items:center;
    text-align: center;
  }
}
/* For medium devices */
@media screen and (min-width:576px)
{
  .header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav__menu{
    padding-block: 2rem 2rem;
  }
  .service__container{
    grid-template-columns: 320px;
    justify-content: center;
  }
  .service__modal-content{
    width: 400px;
  }
  .work__container{
    grid-template-columns: 350px;
    justify-content: center;
  }

  .about_container{
    grid-template-columns: 400px;
    justify-content: center;
  }

  
  .graffiti__perfil__content{
    width: 350px;
    height:196.875px;
  
    /* border-radius: 5%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .work__swiper{
    width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__zombie{
  width: 350px;
/* height: auto; */
aspect-ratio: 350 / 350;
box-shadow: 0px 15px 40px var(--first-color-light);
/* display: grid; */
place-items:center;
box-shadow: 5px;
border-radius: 2.5%;
}

.work__swiper__gruffalo{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 175;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__audio{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__ct{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__letter{
  width: 650px;
  /* height: auto; */
  aspect-ratio: 2133 / 1200;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost1{
  width: 200px;
  /* height: auto; */
  aspect-ratio: 390 / 844;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost2{
  width: 350px;
  /* height: auto; */
  aspect-ratio: 602 / 293;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
  .zombie__perfil__content{
    width: 350px;
    height: 350px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .gruffalo__perfil__content{
    width: 350px;
    height: 175px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .ling__img {
    position: relative;
    transform: scale(1.7);
    transform-origin: center;
    top: 1rem;
}
.perfil__empty{
  /* width: 200px; */
  height: 200px;
  /* background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%; */
  display: grid;
  place-items:center;
}
}

@media screen and (min-width:768px) {
  .header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav__menu{
    padding-block: 2rem 2rem;
  }
  .service__container{
    grid-template-columns: repeat(2,320px);
  }
  .work__container{
    grid-template-columns: repeat(2,350px);
  }
  .graffiti__perfil__content{
    width: 600px;
    height:337.5px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }
  
  .work__swiper{
    width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__zombie{
  width: 500px;
/* height: auto; */
aspect-ratio: 350 / 350;
box-shadow: 0px 15px 40px var(--first-color-light);
/* display: grid; */
place-items:center;
box-shadow: 5px;
border-radius: 2.5%;
}

.work__swiper__gruffalo{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 175;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__audio{
  width: 500px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__ct{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__letter{
  width: 700px;
  /* height: auto; */
  aspect-ratio: 2133 / 1200;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost1{
  width: 250px;
  /* height: auto; */
  aspect-ratio: 390 / 844;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost2{
  width: 650px;
  /* height: auto; */
  aspect-ratio: 602 / 293;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__ct{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
  .zombie__perfil__content{
    width: 500px;
    height: 500px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .gruffalo__perfil__content{
    width: 580px;
    height: 290px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .ling__img {
    position: relative;
    transform: scale(1.7);
    transform-origin: center;
    top: 1rem;
}
}
/* For large devices */

@media screen and (min-width:1150px) {
  .header{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 2rem;
  }

  .section__title{
    margin-bottom: 3.5rem;
  }
  .nav{
    height: calc(var(--header-height)+2rem);
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
    padding-block: 0rem 0rem;
  }
  

  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    display: flex;
    flex-direction: row;    
    align-items: center;
    column-gap: 3rem;
  }
  .change-theme{
    color:var(--title-color);
  }

  .perfil{
    width: 500px;
    height: 500px;
    border-width: 15px;
  }
  .perfil__empty{
    width: 450px;
    height: 450px;
    /* background-color: var(--body-color);
    border: 8px solid var(--first-color);
    border-radius: 50%; */
    display: grid;
    place-items:center;
  }
  .perfil__content{
    width: 360px;
    height: 360px;
    border-width: 20px;
  }

  .perfil__img{
    width: 300px;
  }

  .home__rectangle{
    width: 30vw;
    height: 100%;
  }
  .home__container{
    position: relative;
    grid-template-columns: 500px 300px;
    align-items: center;
    column-gap: 4rem;
    padding-block: 3.5rem 8rem;
  }
  .home__content{
    row-gap: 4rem;
  }
  .home__data{
    row-gap: 1rem;
    text-align: initial;
  }
  .home__social{
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    top:-4rem;
    bottom: 0;
    right: 0;

  }
  /* .home__social-link{
    color: var(--first-color);
  } */
  .home__button{
    justify-self: flex-start;
  }
  .service__container{
    grid-template-columns: repeat(3,345px);
  }
  .service__card{
    padding-block: 4.5rem;
  }
  .service__modal-content{
    max-height: 480px;
    padding: 5.5rem 2rem;
  }
  .service__modal-close{
    font-size: 2rem;
  }
  .work__container{
    grid-template-columns: repeat(3,350px);
  }

  .scrollup{
    right: 3rem;
    
  }

  .about__container{
    grid-template-columns: 580px 440px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 2rem;
  }

  .about__container__lost{
    grid-template-columns: 30% 70%;
    align-items: center;
    column-gap: 6rem;
    padding-top: 2rem;
  }

  .about__data{
    row-gap: 3.5rem;

  }

  .about__info{
    text-align: initial;
  }

  .about__button{
    justify-self: flex-start;
  }

  .about__skills-title{
    text-align: initial;
  }

  .about__skills-content{
    grid-template-columns: repeat(7,max-content);
    justify-content: initial;
  }

  .about__skills-img{
    width: 40px;
  }

  .graffiti__perfil__content{
    width: 600px;
    height: 337.5px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }
  .work__swiper{
    width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
  /* padding-bottom: 3rem ;  */
  /* overflow: visible !important; */
  /* transition: background-color .4s; */
}

.work__swiper__zombie{
  width: 500px;
/* height: auto; */
aspect-ratio: 350 / 350;
box-shadow: 0px 15px 40px var(--first-color-light);
/* display: grid; */
place-items:center;
box-shadow: 5px;
border-radius: 2.5%;
}

.work__swiper__gruffalo{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 175;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__audio{
  width: 500px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__ct{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__letter{
  width: 950px;
  /* height: auto; */
  aspect-ratio: 2133 / 1200;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__lost1{
  width: 250px;
  /* height: auto; */
  aspect-ratio: 390 / 844;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost2{
  width: 650px;
  /* height: auto; */
  aspect-ratio: 602 / 293;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

  .zombie__perfil__content{
    width: 500px;
    height: 500px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .gruffalo__perfil__content{
    width: 580px;
    height: 290px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .ling__img{
    position: relative; 
    transform: scale(1.8); /* 将图片缩放至原始大小的 150% */
  transform-origin: center; /* 使缩放从图片中心进行 */
 top: 2.7rem;
  }
}

@media screen and (min-width: 2048px) {
  .header{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home__rectangle{
    width: 40vw;;
  }
  .nav__menu{
    margin-left: auto;
    padding-block: 0rem 0rem;
  }
  .graffiti__perfil__content{
    width: 600px;
    height: 337.5px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }
  .perfil__empty{
    width: 500px;
    height: 500px;
    /* background-color: var(--body-color);
    border: 8px solid var(--first-color);
    border-radius: 50%; */
    display: grid;
    place-items:center;
  }

  .work__swiper{
    width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 196.875;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__zombie{
  width: 500px;
/* height: auto; */
aspect-ratio: 350 / 350;
box-shadow: 0px 15px 40px var(--first-color-light);
/* display: grid; */
place-items:center;
box-shadow: 5px;
border-radius: 2.5%;
}

.work__swiper__gruffalo{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 350 / 175;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__audio{
  width: 500px;
  /* height: auto; */
  aspect-ratio: 350 / 350;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__ct{
  width: 580px;
  /* height: auto; */
  aspect-ratio: 4 / 3;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__letter{
  width: 1000px;
  /* height: auto; */
  aspect-ratio: 2133 / 1200;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
.work__swiper__lost1{
  width: 250px;
  /* height: auto; */
  aspect-ratio: 390 / 844;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}

.work__swiper__lost2{
  width: 650px;
  /* height: auto; */
  aspect-ratio: 602 / 293;
  box-shadow: 0px 15px 40px var(--first-color-light);
  /* display: grid; */
  place-items:center;
  box-shadow: 5px;
  border-radius: 2.5%;
}
  .zombie__perfil__content{
    width: 500px;
    height: 500px;
    /* border: 10px solid var(--first-color); */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg,hsl(var(--hue),90%, 80%),hsl(var(--hue),90%, 30%)); */
  }

  .gruffalo__perfil__content{
    width: 580px;
    height: 290px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .ling__img{
    position: relative; 
    transform: scale(1.8); /* 将图片缩放至原始大小的 150% */
  transform-origin: center; /* 使缩放从图片中心进行 */
 top: 2.7rem;
  }
}
/* For 2K resolutions (2048 x 1152, 2048 x 1536) */

/*============== work imgs ===========*/
